@media (max-width: 1024px) {
   ////////////////////////////////////////

   .title-slider {
      &__content {
         padding: 20px 0 0 0;
      }
      &__wrapper {
         width: 80%;
      }
      &__text {
         max-width: auto;
         margin: 16px 7.2% 0;
      }
      &__title {
         margin: 10px 15px 0;
      }
      &__point-cover:nth-child(1):before {
         content: ("");
         height: 100px;
         transform: translate(-50%, -85%);
      }
      &__point-cover:nth-child(2):before {
         height: 30px;
         transform: translate(-50%, -25%);
      }
      &__point-cover:nth-child(3):before {
         height: 95px;
         transform: translate(-50%, -25%);
      }
      &__point-cover:nth-child(4):before {
         height: 165px;
         transform: translate(-50%, -45%);
      }
   }
   .menu {
      flex: 0 0 50%;
   }
   ////////////////////////////////////////

   .company {
      &__container {
         flex-wrap: wrap;
      }
   }

   ////////////////////////////////////////
   .plan {
      padding: 100px 0;
      &__text-box {
         padding: 0 3% 0 10%;
      }
   }
   .pictures {
      &__mobile {
         // margin: 15% 0 0 15%;
      }
   }
   ////////////////////////////////////////
   .stats {
      &__text {
         max-width: 100%;
      }
   }

   ////////////////////////////////////////

   .blog {
      &__subtitle {
         padding: 60px 0 0 0;
      }
      &__slider {
         margin: 50px 0 0 0;
      }
      &__switch-box {
         padding: 0 0 60px 0;
         margin: 50px auto 0;
      }
      &__button-left {
         flex: 1 0 8%;
         &:hover {
            background-color: initial;
         }
      }
      &__button-right {
         flex: 1 0 8%;
         &:hover {
            background-color: initial;
         }
      }
   }
   .slide {
      // height: 100%;
      &__conteiner {
         // height: 100%;
         flex-direction: column-reverse;
         // justify-content: flex-end;
      }
      &__text-box {
         flex: 1 0 50%;
         padding: 0 0 20px 14%;
      }
      &__images {
         flex: 1 0 50%;
         // align-content: flex-end;
         // margin-top: auto;
      }
   }

   ////////////////////////////////////////

   .quotes {
      flex-direction: column;
      &__text-box {
         max-width: 100%;
         // flex: 0 0 auto;
         // padding: 5% 7.7% 1% 10%;
         padding: 0;
         margin: 5% 7.7% 1% 10%;
      }
      &__title {
         margin: 10px 0 0 0;
      }
      &__text {
         margin: 16px 0 0 0;
      }
      &__slider-box {
         // flex: 0 0 100%;
         max-width: 100%;
      }
      &__text-box {
         flex: 0 0 50%;
         padding: 0 0 0 30px;
      }
      &__slide {
         margin: 20px 32px 0;
      }
   }

   ////////////////////////////////////////

   .accordeon {
      &__text-box {
         display: block;
      }
      &__button {
         margin: 0px 0px 20px 80px;
      }
      &__text {
         margin: 16px 0px 20px 80px;
      }
   }

   ////////////////////////////////////////

   .started {
      &__clouds3 {
         & div:nth-child(3) {
            display: none;
         }
      }
   }

   ////////////////////////////////////////

   .newsletter {
      &__container {
         flex-direction: column;
         align-items: flex-start;
      }
      &__form {
         margin-left: 0;
         padding: 30px 0 0 0;
      }
   }
}
/***********************************************************************************/
@media (max-width: 768px) {
   .container__title-slider {
      padding-top: 400px;
   }
   .title-slider {
      &__wrapper {
         width: 100%;
      }
      .indicator {
         display: none;
      }
      &__points {
         display: none;
      }

      &__point-cover:before {
         display: none;
      }

      &__cloud5 {
         display: none;
      }
      &__cloud3 {
         display: none;
      }
      &__cloud2 {
         left: auto;
         right: 0;
      }

      &__pictire {
         height: 164px;
         &__title {
         }
      }
      &__switch {
         width: 100px;
         bottom: 5%;
      }
      &__switch-point {
         width: 12px;
         height: 12px;
      }
   }
   .menu-button {
      z-index: 20;
      display: block;
      flex: 0 0 auto;
   }
   .menu {
      opacity: 0;
      visibility: hidden;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
      width: 100%;
      height: 100%;
      z-index: 15;
   }
   .menu.active {
      visibility: visible;
      opacity: 1;
      transition: 0.5s;
   }
   .menu-items {
      padding: 5% 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
   }
   .menu-item {
      display: block;
   }

   .menu-item a {
      font-size: 30px;
   }
   .social {
      margin-left: auto;
      &__img {
         margin: 0 10px 0 0;
      }
   }
   ////////////////////////////////////////

   .company {
      height: auto;
      margin: 0 0 10px;
      &__container {
      }
      &__item {
         flex: 1 1 auto;
         display: flex;
         justify-content: center;
         margin: 5px;
      }
   }

   ////////////////////////////////////////
   .plan {
      padding: 50px 0;
      &__container {
         flex-direction: column;
      }
   }
   .pictures {
      margin: 20px 0 0 0;
      &__mobile {
         // margin: 15% 0 0 3%;
      }
   }
   ////////////////////////////////////////
   .features {
      &__wrapper {
         margin: 0 16.6%;
      }

      &__cloud1 {
         left: 5%;
      }

      &__cloud2 {
         top: 3.2%;
      }
      &__cloud3 {
         bottom: 10%;
      }

      &__buttons {
         width: 250px;
         & span {
            display: none;
         }
      }
   }
   .cards {
      margin: 30px 0 0 0;
      flex-direction: column;
      &__item:not(:first-child) {
         margin: 50px 0 0 0;
      }

      &__item {
         flex: 1 1 auto;
         &:not(:last-child):after {
            content: "";
            top: auto;
            bottom: -25px;
            right: 50%;
            transform: translate(50%, 0);
         }
      }
      &__title {
         margin: 5px 0 0 0;
      }
      &__text {
         margin: 5px 0 0 0;
         visibility: visible;
         transform: translate();
      }
   }
   ////////////////////////////////////////

   .stats {
      flex-direction: column;
      // align-items: flex-start;
      &__card {
         padding: 30px 50px;

         align-items: flex-start;
         &_left {
            & p:nth-child(3) {
               text-align: left;
            }
         }
      }
   }

   ////////////////////////////////////////

   .slide {
      // flex: 0 1 auto;
      padding: 30px 41px 10px 35px;
      &__images {
         margin-top: auto;
         padding: 20px 0 0 0;
         justify-content: end;
      }
      &__buttons {
         align-self: flex-end;
      }
   }

   ////////////////////////////////////////

   .quotes {
      padding: 50px 0;

      &__slider-window {
         // width: 487px;
         width: 100%;
         // flex: 0 0 487px;
      }
      &__slide {
         width: calc(100% - 64px);
         height: auto;
         // width: 100%;
      }
      &__slide-text {
         padding: 20px 30px 40px;
      }
   }

   ////////////////////////////////////////

   .faq {
      &__wrapper {
         padding: 12.22% 3%;
      }
   }

   ////////////////////////////////////////

   .started {
      &__clouds3 {
         display: none;
      }
      &__clouds1 {
         left: 15.4%;
         top: 8.13%;
      }
      &__clouds2 {
         bottom: 5.53%;
      }
      &__text {
         padding: 0 5.27%;
         margin: 10px 0 0 0;
      }
   }

   ////////////////////////////////////////

   .newsletter {
      &__email {
         flex-direction: column;
         align-items: flex-end;
      }
      & button {
         margin: 15px 0 0 0;
      }
   }

   ////////////////////////////////////////

   .footer {
      padding: 20px 0;
      &__copyright {
         margin: 10px 0 0 15%;
      }
   }
}

/***********************************************************************************/

@media (max-width: 375px) {
   .social {
      display: none;
   }
   .header__button-box {
      margin: 0 0 0 auto;
   }
   .company {
      height: auto;
   }
   .features {
      &__wrapper {
         margin: 0 10.6%;
      }
      &__cloud1 {
         top: 1%;
      }
      &__cloud2 {
         display: none;
      }
   }

   ////////////////////////////////////////

   .blog {
      &__button-left {
         flex: 1 0 8%;
      }
      &__button-right {
         flex: 1 0 8%;
      }
   }
   .slide {
      padding: 30px 41px 30px 35px;
   }
   ////////////////////////////////////////

   .started {
      padding: 15px 0;

      &__clouds1 {
         left: 30.4%;
         top: 8.13%;
      }
      &__clouds2 {
         left: 20.25%;
         bottom: 20%;
      }

      &__button {
         margin: 30px auto 0;
      }
   }
   .newsletter {
      padding: 8.19% 5%;

      &__form {
         // display: block;
         // align-self: center;
         margin: 0 auto;
      }
   }
}
